@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0A1F44;
  --accent: #02E9FF;
  --panel: #0E1828;
  --muted: #CED5DE;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-midnight text-white font-sans;
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
